$color_1: #6A6A6A;
$color_2: #3171ac;
$color_3: #337ab7;
$color_4: #DADADA;

@keyframes open-entity-details {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}

.entity-details-container {
    position: absolute;
    width: 450px;
    height: 100%;
    z-index: 5;
    overflow: hidden;
    overflow-y: auto;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    left: -100%;
    transition: left 1s;
    //animation: open-entity-details 1s ease-out;
    //animation-fill-mode: forwards;
    &.open{
        left: 0%;
    }
    .entity-name{
        text-align: center;
        font-size: 18px;
        margin-top: 15px;
        color: $color_2;
    }
    .entity-info{
        margin-top: 10px;
        color: $color_1;
        &.work-schedule{
            .entity-info-value{
                color: $color_3;
            }
        }
    }
    .entity-info-label{
        padding-left: 30px;
    }
    .reviews-container{
        margin-top: 15px;
        .separating-line{
            width: 90%;
            margin-left: 5%;
            border-top: 1px solid $color_4;
        }
    }
}
