@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');

$color_0: #fff;
$color_1: #0732a2;
$color_2: rgba(7, 50, 162, 0.5);
$color_3: #FFEB3B;
$color_4: #4CAF50;

:host {
    display: block;
}

body {
    color: $color_1;
}

header {
    background-color: $color_1;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 2px 2px 6px $color_2;
    z-index: 99999;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 51px;

}

my-home {
    flex-grow: 1;
    position: relative;
    background-color: $color_1;
}

.grow {
    flex-grow: 1;
}

.user_login {
    span:first-child {
        max-width: 50px;
        display: inline-block;
    }

    span {
        font-weight: bold;
        color: $color_0;
    }

    img {
        width: 100%;
        border-radius: 50px;
    }
}

header,
footer {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            transition: linear .2s all;
            text-decoration: none;
        }

        .logo-wrapper {
            a {
                font-weight: bold;
                text-transform: uppercase;
                color: $color_0;
                font-size: 16px;
            }
        }

        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            li {

                &:not(:last-child) {
                    margin-right: 10px;
                }

                a {
                    color: $color_0;
                    font-size: 15px;
                    font-weight: bold;
                    border-radius: 0;

                    &:hover:not(.btn),
                    &.router-link-active {
                        color: $color_3;
                    }
                }
            }
        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        transition: linear .2s all;
        text-decoration: none;
    }

    .logo-wrapper {
        a {
            font-weight: bold;
            text-transform: uppercase;
            color: $color_0;
            font-size: 16px;
        }
    }

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li {

            &:not(:last-child) {
                margin-right: 10px;
            }

            a {
                color: $color_0;
                font-size: 13px;
                font-weight: bold;
                border-radius: 0;

                &.signUp {
                    background: $color_4;
                }

                &.login {
                    background: transparent;
                }

                &:hover,
                &:focus {
                    border-color: $color_4;
                }
            }
        }
    }
}

footer {
    text-align: center;
    font-size: 0.8em;
    padding: 16px;
    background-color: $color_1;
}
