<header>
  <div class="container">
  	<nav [ngSwitch]="authState">
  		<div class="logo-wrapper">
  			<a class="logo" [routerLink]="['Home']">YourSportRoute</a>
  		</div>
	  </nav>
  </div>
</header>
<main>
  	<router-outlet></router-outlet>
</main>
<footer>
  <div class="container">
  	<nav>
  		<div class="logo-wrapper">
  			<a class="logo" [routerLink]="['Home']">YourSportRoute</a>
  		</div>
  		<ul>
	    	<li>
	   			<a href="#">Contact us</a>
	    	</li>
	    	<li>
	   			<a href="#">Send email</a>
	    	</li>
	    	<li>
	    		<a href="#">About</a>
	    	</li>
	    </ul>
  	</nav>
  </div>
</footer>
