<div class="main-welcome">
	<h1 class="text-center">All of these you can here:</h1>
	<div class="main-welcome-list">
		<ul>
			<li>
				<span>Find gyms and <br /> fitness centers</span>
				<img src="img/icon1.png" alt="ico">
			</li>
			<li>
				<span>Talk with the <br /> coach</span>
				<img src="img/icon2.png" alt="ico">
			</li>
			<li>
				<span>Chat with the <br /> sport-friend</span>
				<img src="img/icon3.png" alt="ico">
			</li>
			<li>
				<span>Create the program <br /> or diet</span>
				<img src="img/icon4.png" alt="ico">
			</li>
		</ul>
	</div>
</div>
<div class="main-search">
	<form (ngSubmit)="getCityLocation()">
		<div>
			<input type="text" 
			   [(ngModel)]="city.formatted_address" 
			   class="form-control input-lg" 
			   placeholder="Type your current location"
			   (ngModelChange)="getCitites(city.formatted_address)" required>
			   <ul [hidden]="!citiesDropdown">
			   	<li *ngFor="let cityItem of cities"
			   	    (click)="handleClickCities(cityItem)">{{cityItem.formatted_address}}
			    </li>
			   </ul>
		</div>
		<button type="submit" class="btn btn-success btn-lg">search</button>
	</form>
</div>
<div class="main-video">
	<video preload="auto" 
		   autoplay="" 
		   loop="" 
		   class="fadeIn animated" 
		   poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Coverr-yoga.jpg">
            <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Coverr-yoga.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Coverr-yoga.mp4" type="video/webm">Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
</div>
<div class="video-fade" style="display: none;"></div>
