$carousel_height: 300px;

:host {
    .carousel-item {
        height: $carousel_height;
        .img {
            height: $carousel_height;
            width: 100%;
            background-size: cover;
        }
    }
}
